.drop{
    border-radius: 0;
    border-style:groove;
}

.applybtn{
    margin-top: 5px;
    margin-bottom: 5px;

}
h2{
    padding-top: 26px;
    font-weight: bold;
    font-size: 36px;
    color: #333;

}
form li{
    list-style-type: none;
}

#green{
    border-color: green;
    background-color: #cfffba;
}

#red{
    border-color: red;
    background-color: #ffa8a8;
}

#amber{
    border-color: #FFBF00;
    background-color: #ffe6a8;
}

.reflection{
    border-radius: 2px;
    border-style: solid;
}
