.drop{
    border-radius: 0;
    border-style:groove;
}

.applybtn{
    margin-top: 5px;
    margin-bottom: 5px;

}
h2{
    padding-top: 26px;
    font-weight: bold;
    font-size: 36px;
    color: #333;

}
form li{
    list-style-type: none;
}

#green{
    border-color: green;
    background-color: #cfffba;
}

#red{
    border-color: red;
    background-color: #ffa8a8;
}

#amber{
    border-color: #FFBF00;
    background-color: #ffe6a8;
}

.reflection{
    border-radius: 2px;
    border-style: solid;
}


/*Code adapted from https://www.w3schools.com/howto/howto_css_tooltip.asp*/
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
