<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.css" th:href="@{/css/reflections.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9b9fc493c6.js" crossorigin="anonymous"></script>


</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <a class="navbar-brand topnavbar-brand">Reflection Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse centered" id="navbarsExample04">
            <ul class="navbar-nav mr-auto topnavbar-nav">
                <li class="nav-item active">
                    <a class="nav-link " href="/home" >
                        <div class="icon">
                            <i class="fa fa-home lightgrey" ></i>
                            <i class="fa fa-home " ></i>

                        </div>

                        Dashboard</a>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <div class="icon">
                            <i class="fa fa-clipboard-list lightgrey"></i>
                            <i class="fa fa-clipboard-list"></i>
                        </div>


                        Global Overview</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled darkergrey"  href="#" tabindex="-1" aria-disabled="true">

                        <div class="icon">
                            <i class="fa fa-file-medical darkergrey" aria-hidden="true"></i>
                            <i class="fa fa-file-medical darkergrey" aria-hidden="true"></i>
                        </div>

                        Edit Tags<span class="sr-only =">(current)</span> </a>
                </li>
                <li class="nav-item active last">
                    <a class="nav-link" href="#" th:href="@{/logout}">
                        <div class="icon">
                            <i class="fa fa-sign-out-alt lightgrey"></i>
                            <i class="fa fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </li>



            </ul>
        </div>
    </nav>

</header>

<main>

    <div class="container">
        <h1 class="mt-5"> Manage Thought Cloud </h1>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
            Add New Thought</button>
        <br>
            <table class="table table-striped">
                <br>
                <thead>
                <tr>
<!--                    <th scope="col">#</th>-->
                    <th class="labels" scope="col">Thought</th>
<!--                    <th scope="col">Edit</th>-->
                    <th style="text-align:right;" class="labels" scope="col">Remove</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each = "ThoughtTag:${ThoughtTags}">
<!--                    <td > - </td>-->
                    <td th:text = "${ThoughtTag.tagName}" >  </td>
<!--                    <td><a class ="btn btn-warning" >-->
<!--                        Edit-->
<!--                    </a></td>-->
                    <td style="text-align:right;">
                        <form th:action="@{/deletetag/{tagID}(tagID=${ThoughtTag.tagID})}" th:object="${ThoughtTag}" method="post">

                        <button type="submit" onclick="return confirm('Delete this tag?')" class ="deleteBtn btn btn-danger">
                          Delete
                        </button>
                        </form>
                    </td>

                </tr>

                </tbody>
            </table>

    </div>
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" th:action="@{/addNew}" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                            <label  FOR="tagNameAdd"    class="col-form-label">Add a new Thought:</label>
                            <input type="text" class="form-control" th:object="${tagNameAdd}" id="tagNameAdd" name="tagNameAdd">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Thought</button>
                </div>
            </div>

        </div>
        </form>
    </div>


</main>
</body>
<!--<script th:inline="javascript">-->

<!--    $(document).ready(function(){-->
<!--        $(".deleteBtn").click(function(e){-->
<!--            if(!confirm('Delete this tag?')) {-->
<!--                window.location.reload();-->
<!--            }-->

<!--        });-->
<!--    });-->

<!--</script>-->

</html>