<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Logging Form</title>
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" />
</head>
<body>
<!--<div id="page-container">-->
<!--    <div id="content-wrap">-->
<header>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Event Manager</a></li>
        <li><a href="">Reflections</a></li>
    </ul>
</header>

<form action="#" method="post" th:action="@{/form}" th:object="${form}">
    <!--<div th:text="${event}"></div>-->

<div id="eventdetails" class="container">
    <h2>Event details</h2>
<fieldset>


<label th:for="eventType" class="labels">Event type:</label>
<select th:field="*{eventType}"name="event" id="event" REQUIRED>
    <option value="Teaching or Supervision">Teaching or Supervision</option>
    <option value="Design or Plan">Design or Plan</option>
    <option value="Assess or Give Feedback">Assess or Give Feedback</option>
    <option value="Discussion">Discussion</option>
    <option value="Scholarship">Scholarship</option>
    <option value="Evaluation and Quality Assurance">Evaluation and Quality Assurance</option>
</select>
</fieldset>


<fieldset>

    <textarea th:field="*{shortDesc}" maxlength="140" name="ShortDescription" rows="3"placeholder="Give a brief description of the event. (max 140 characters)" REQUIRED></textarea>

</fieldset>


<fieldset>
<label class="labels">Role: </label>
<select th:field="*{role}" name="role" id="role" REQUIRED>
    <option value="Lead or Facilitate">Lead or Facilitate</option>
    <option value="Participate">Participate</option>
    <option value="Review">Review</option>
</select>
</fieldset>
<br>



    <fieldset>
        <label class="labels">Others involved</label><br>
        <div th:each="othersInvolveds: ${othersInvolved}">
            <input  th:field="*{others}" type="checkbox" th:id="${othersInvolveds.tagName}" name="othersInvolved" th:value="${othersInvolveds.tagName}">
            <label th:for="${#ids.next('others')}" th:text="${othersInvolveds.tagName}"></label><br>
        </div>

    <br><br>

    <button class="nxtbtn" type="button" onclick="document.getElementById('eventdetails').style.display='none';document.getElementById('tagselect').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>

</fieldset>



</div>


<div id="tagselect" class="container">
    <h2>Tag selection</h2>

    <fieldset>
    <label class="labels">Impact </label><br><br>
    <div th:each="impacts: ${impact}">
        <input th:field="*{impact}" type="checkbox" th:id="${impacts.tagName}" name="Impact" th:value="${impacts.tagName}">
        <label th:for="${#ids.next('impact')}" th:text="${impacts.tagName}"></label><br>
    </div>
    </fieldset>
<br>


<!-- Validation for NONE needs to be figured out -->
    <fieldset>
        <label class="labels">Learning Technologies (choose as many as applicable)</label><br><br>
        <div th:each="learningTechnology: ${learningTechnologies}">
            <input th:field="*{learningTechs}" type="checkbox" th:id="${learningTechnology.tagName}" name="Learning Technologies" th:value="${learningTechnology.tagName}">
            <label th:for="${#ids.next('learningTechs')}" th:text="${learningTechnology.tagName}"></label><br>
        </div>
    </fieldset>

<br>




    <fieldset>
        <label class="labels">Thought Cloud (choose as many as applicable)</label><br><br>
        <div th:each="thoughtClouds: ${thoughtCloud}">
            <input th:field="*{thoughtCloud}" type="checkbox" th:id="${thoughtClouds.tagName}" name="Learning Technologies" th:value="${thoughtClouds.tagName}">
            <label th:for="${#ids.next('thoughtCloud')}" th:text="${thoughtClouds.tagName}"></label><br>
        </div>


    <br><br>
    <label class="labels">Any other thoughts for the Thought Cloud? (Optional)</label>
    <br>
    <input  maxlength="25" type="text" name="otherThoughtCloud" placeholder="max 25 characters" REQUIRED/>
    <br><br>
    <button class="bckbtn" type="button" onclick="document.getElementById('tagselect').style.display='none';document.getElementById('eventdetails').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
    <button class="nxtbtn" type="button" onclick="document.getElementById('tagselect').style.display='none';document.getElementById('reflection').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>

</fieldset>
<br>

</div>
<div id = "reflection" class="container">
    <h2>Reflection</h2>

    <fieldset>
    <label class="labels">What did you do? (provide a clear record)</label>
    <br>
    <textarea  name="Whatdidyoudo" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
        <br>
        <br>
         <label class="labels">What prompted your approach?</label>    <br>

        <textarea  name="Whatpromptedyourapproach" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
        <br>
        <br>
         <label class="labels">What happened? (Consider your own and others' viewpoints and feelings - put yourself in their shoes!)</label>    <br>


        <textarea  name="Whathappened" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
        <br>
        <br>
         <label class="labels">What impact did the learning technologies have on your activity?</label>    <br>


        <!--IF K4 was tagged (learning tech chosen) show this-->
    <textarea  name="whatimpactdidthelearningtech" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
        <br>
        <br>
         <label class="labels">Collecting Evidence (How will you evaluate this activity later? What evidence do you need?)</label>    <br>


        <textarea  name="Collecting Evidence" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
        <br>
        <br>
         <label class="labels">Alternate actions or responses (What could you have done differently?)</label>    <br>


        <textarea  name="Alternateactions" cols="60" rows="3" placeholder="Required*" REQUIRED></textarea>
    <br><br>
    <label class="labels">Three learning points for you:</label>
        <br>
        <textarea  maxlength="140" name="Learningpoint1" cols="40" rows="3" placeholder="max 140 characters" REQUIRED></textarea>
        <br>
        <textarea  maxlength="140" name="Learningpoint2" cols="40" rows="3" placeholder="max 140 characters" REQUIRED></textarea>
        <br>
        <textarea  maxlength="140" name="Learningpoint3" cols="40" rows="3" placeholder="max 140 characters" REQUIRED></textarea>
        <br>
        <button class="bckbtn" type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('tagselect').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
        <button class="nxtbtn" type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('overview').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>

    </fieldset>

</div>
<div id = "overview" class="container">
    <fieldset>
    <h2>Overview</h2>
    <p class="description">Here's an overview of your event entry. Submit your entry with the 'Submit' button below if you're satisfied with your inputs.</p>
    <br>    <br>


    <p>Reflection:</p>
    <br>    <br>
        <p>Event Details:</p>
        <br>

        <br>    <br>

        <p>Tags:</p>
        <br>

        <br>    <br>

        <p>Reflection:</p>
        <br>

        <br>    <br>

    <p class="description"> See something you want to change? <a id ="clickhere" onclick="document.getElementById('overview').style.display='None';document.getElementById('eventdetails').style.display='block'">Click here</a> to revisit your inputs in sequence. </p>
    <br>

    <button class="bckbtn" type="button" onclick="document.getElementById('overview').style.display='none';document.getElementById('reflection').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
    <button class="subbtn" type="submit" value="Submit" onclick="confirmsubmit()"> Submit </button>

<!--        ;document.getElementById('reflection').style.display='none';document.getElementById('placeholder').style.display='block';document.documentElement.scrollTop = 0;"-->

    </fieldset>
</div>

</form>

<!--    </div>-->
<!--    <footer id = "footer">Footer? For other info and links if we have them </footer>-->
<br>
<!--</div>-->
<script>
    // function confirmsubmit() {
    //     if (confirm("Submit this entry?")) {
    //
    //         javascript:alert('Your entry has been added.');
    //
    //                 } else {
    //
    //         javascript:alert('Submission terminated.');
    //     }
    // }

    function uncheck(checkbox1, checkbox2, checkbox3, checkbox4, checkbox5, checkbox6) {
        let checkBox = document.getElementById("None");
        if (checkBox.checked == true); {
            document.getElementById(checkbox1).checked = false;
            document.getElementById(checkbox2).checked = false;
            document.getElementById(checkbox3).checked = false;
            document.getElementById(checkbox4).checked = false;
            document.getElementById(checkbox5).checked = false;
            document.getElementById(checkbox6).checked = false;
        }
    }
    function uncheckNone() {
        document.getElementById('None').checked = false;
    }

</script>

</body>
</html>