<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.css" th:href="@{/css/reflections.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>List Of Your Reflections</title>

    <script src="https://kit.fontawesome.com/9b9fc493c6.js" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <a class="navbar-brand topnavbar-brand">Reflection Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse centered" id="navbarsExample04">
            <ul class="navbar-nav mr-auto topnavbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" tabindex="-1">
                        <div class="icon">
                            <i class="fa fa-home lightgrey"></i>
                            <i class="fa fa-home"></i>

                        </div>
                        Home

                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/reflection/user">
                        <div class="icon">
                            <i class="fa fa-clipboard-list lightgrey"></i>
                            <i class="fa fa-clipboard-list"></i>
                        </div>


                        Activities</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled darkergrey" href="#" aria-disabled="true">

                        <div class="icon">
                            <i class="fa fa-file-medical darkergrey" aria-hidden="true"></i>
                            <i class="fa fa-file-medical" aria-hidden="true"></i>
                        </div>

                        Log Activity
                        <span class="sr-only =">(current)</span>
                    </a>
                </li>
                <li class="nav-item active last">
                    <a class="nav-link" href="#" th:href="@{/logout}">
                        <div class="icon">
                            <i class="fa fa-sign-out-alt lightgrey"></i>
                            <i class="fa fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </li>



            </ul>
        </div>
    </nav>
</header>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand bottomnavbar-brand">Menu Bar</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mx-auto" >
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('activitydetails')">Activity Details</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('ukpsf')">UKPSF Dimensions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('impact')">Impact & Techs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('thoughtcld')">Thought Cloud</a>
            </li>
            <li class="nav-item active">
                <a style="color:white !important;" class="nav-link btn btn-primary" onclick="document.getElementById('submitBtn').click();">Submit</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container-fluid">
    <form action="#" method="post" th:action="@{/form}" th:object="${form}" onsubmit="return confirm('Submit this entry?');">

        <div id="activitydetails" class="container">
            <h1 class="mt-5">Activity Details</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label th:for="eventType" class="labels">
                            Activity Type
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <div style="display: none" th:if="${formID != null}">
                            <select name="formID" id="formID"><option th:value="${formID}" REQUIRED></option></select>
                        </div>

                        <select class="form-control" name="eventType" id="eventType" REQUIRED>
                            <div th:each="events: ${event}">
                                <option th:value="${events.eventID}" th:text="${events.name}" th:selected="${events.eventID == eventEdit?.eventID}" ></option>
                            </div>
                        </select>

                        <span class="help-block">
       Select the applicable activity type from the drop-down list.
      </span>
                    </div>
                    <div class="form-group">
                    <label th:for="eventDate" class="labels">
                        Activity Date
                        <span class="asteriskField">
        *
       </span>
                    </label>
                    <input class="form-control" type="date" required id="eventDate" name="eventDate" th:value="${formEdit?.getDateString()}" oninvalid="alert('Date Missing')">

                    <span class="help-block">
       Select the date that the activity took place.
      </span>
                    </div>

                    <div class="form-group ">
                        <label th:for="shortDesc" class="labels">
                            Activity Description
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <textarea class="form-control" oninvalid="alert('Short Description Required')" cols="40" rows="5" th:text="${formEdit?.shortDescription}" maxlength="140" id="shortDesc" name="shortDesc" placeholder="(max 140 characters)" REQUIRED></textarea>
                        <span class="help-block">
       Give a short description of the purpose of the activity you attended.
      </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels" th:for="role">
                            Role
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <select class="form-control" name="role" id="role" REQUIRED>
                            <div th:each="roles: ${role}">
                                <option th:value="${roles.roleID}" th:text="${roles.name}" th:selected="${roles.roleID == roleEdit?.roleID}"></option>
                            </div>
                        </select>

                        <span class="help-block">
       What role did you play during the activity? Choose the applicable option from the drop-down menu.
      </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels" th:for="othersInvolveds">
                            Others Involved
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <div class="othersInvolved" style="display: flex;" th:each="othersInvolveds: ${othersInvolved}">

                            <div th:if="${tagsEdit != null}">
                                <input  class = "checkbox" type="checkbox" th:id="${othersInvolveds.tagID}" required th:checked="${#lists.contains(tagsEdit, othersInvolveds.tagID)}" name="others" th:value="${othersInvolveds.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input  class = "checkbox" type="checkbox" required th:id="${othersInvolveds.tagID}"
                                        name="others" th:value="${othersInvolveds.tagID}">
                            </div>
                            <label th:for="${othersInvolveds.tagID}" th:text="${othersInvolveds.tagName}">



                            </label><br>
                        </div>

                        <span class="help-block">
        Who else was in attendance? Choose an option above.
       </span>
                    </div>

                    <div class="form-group">
                        <div>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('activitydetails').style.display='none';document.getElementById('ukpsf').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ukpsf" class="container">
            <h1 class="mt-5">Map event to Framework (UKPSF)</h1>
            <h2 class="labels">This section may be skipped and completed later.
            For more info on the dimensions, download <a href="https://www.heacademy.ac.uk/sites/default/files/downloads/What%20are%20the%20dimensions%20of%20practice.pdf">this PDF.</a></h2>
            <br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="dimension">
                            UKPSF Dimensions
<!--                            <span class="glyphicon glyphicon-envelope"></span>-->
                        </label><br>
<!--                            <div class="pairs" th:each="dimension: ${dimensions}">-->
<!--                                <input class ="checkbox" th:field="*{dimensions}" type="checkbox" th:id="${dimension.tagName}" name="dimension" th:value="${dimension.tagID}">-->
<!--                                <label data-toggle="tooltip" data-placement="top" th:attr="data-title=${dimension.description}" th:for="${#ids.next('dimension')}" th:text="${dimension.shortenedTag} + ' - ' + ${dimension.tagName}"></label><br>-->
<!--                            </div>-->
                        <div style="display: flex;" th:each="dimension: ${dimensions}">
                            <div th:if="${tagsEdit != null}">
                                <input class ="checkbox" th:checked="${#lists.contains(tagsEdit, dimension.tagID)}" type="checkbox" th:id="${dimension.tagID}" name="dimensions" th:value="${dimension.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class ="checkbox" type="checkbox" th:id="${dimension.tagID}" name="dimensions" th:value="${dimension.tagID}">
                            </div>
                            <label data-toggle="tooltip" data-placement="top" th:attr="data-title=${dimension.description}" th:for="${dimension.tagID}" th:text="${dimension.shortenedTag} + ' - ' + ${dimension.tagName}"></label><br>
                        </div>

                        <span class="help-block">
                        What are some of your thoughts having completed this activity? Choose as many options as applicable.
                       </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='none';document.getElementById('activitydetails').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='none';document.getElementById('impact').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="impact" class="container">
            <h1 class="mt-5">Tag Selection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="impacts">
                            Impact
                            <span class="asteriskField">
                    *
                   </span>
                        </label><br>
                        <div style="display: flex;" th:each="impacts: ${impact}" class="impact">
                            <div th:if="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox" required th:id="${impacts.tagID}" th:checked="${#lists.contains(tagsEdit, impacts.tagID)}" name="impact" th:value="${impacts.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox"  required th:id="${impacts.tagID}" name="impact" th:value="${impacts.tagID}">
                            </div>
                            <label th:for="${impacts.tagID}" th:text="${impacts.tagName}"></label><br>
                        </div>

                        <span class="help-block">
                    How would you classify the scale of the impact of this activity? Choose as many options as applicable.
                   </span>
                    </div>
                    <div class="row">
                        <div class="col-md-8 order-md-1">
                            <div class="form-group ">
                                <label class="labels" th:for="learningTechnology">
                                    Learning Technologies
                                    <span class="asteriskField">
                    *
                   </span>
                                </label><br>
                                <div style="display: flex;" th:each="learningTechnology: ${learningTechnologies}">
                                    <div th:if="${tagsEdit != null}">
                                        <input class = "checkbox" type="checkbox" th:id="${learningTechnology.tagID}" name="learningTechs" th:checked="${#lists.contains(tagsEdit, learningTechnology.tagID)}" th:value="${learningTechnology.tagID}">
                                    </div>
                                    <div th:unless="${tagsEdit != null}">
                                        <input class = "checkbox" type="checkbox" th:id="${learningTechnology.tagID}" name="learningTechs" th:value="${learningTechnology.tagID}">
                                    </div>

                                    <label th:for="${learningTechnology.tagID}" th:text="${learningTechnology.tagName}"></label><br>
                                </div>

                                <span class="help-block">
                    Which learning technologies were utilised for this activity? Choose as many options as applicable.
                   </span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='block';document.getElementById('impact').style.display='none';document.documentElement.scrollTop = 0;"> Back </button>
                                    <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('impact').style.display='none';document.getElementById('thoughtcld').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="thoughtcld" class="container">
            <h1 class="mt-5">Tag Selection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="thoughtClouds">
                            Thought Cloud
                            <span class="asteriskField">
                    *
                       </span>
                        </label><br>
                        <div class="split3">
                        <div style="display: flex;" th:each="thoughtClouds: ${thoughtCloud}" class="thoughtCloud">
                            <div th:if="${tagsEdit != null}">
                                <input class ="checkbox"  type="checkbox" required th:checked="${#lists.contains(tagsEdit, thoughtClouds.tagID)}" th:id="${thoughtClouds.tagID}" name="thoughtCloud" th:value="${thoughtClouds.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class ="checkbox"  type="checkbox" required th:id="${thoughtClouds.tagID}" name="thoughtCloud" th:value="${thoughtClouds.tagID}">
                            </div>
                            <label th:for="${thoughtClouds.tagID}" th:text="${thoughtClouds.tagName}"></label><br>
                        </div>
                        </div>
                        <span class="help-block">
                        What are some of your thoughts having completed this activity? Choose as many options as applicable.
                       </span>
                    </div>
                    <div class="form-group">
                                <div>
                                    <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('thoughtcld').style.display='none';document.getElementById('impact').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                                    <button style="float: right;" id="submitBtn" class="btn btn-primary " type="submit" value="Submit"> Submit </button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Validation for NONE needs to be figured out-->


                </div>
            </div>
        </div>

    </form>


</main>

<br>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<script>

    function menuSelect(element) {
        document.getElementById('activitydetails').style.display='none'
        document.getElementById('ukpsf').style.display='none';
        document.getElementById('thoughtcld').style.display='none';
        document.getElementById('impact').style.display='none';
        document.getElementById(element).style.display='block';
        document.documentElement.scrollTop = 0;
    }

    function uncheck(checkbox1, checkbox2, checkbox3, checkbox4, checkbox5, checkbox6) {
        let checkBox = document.getElementById("None");
        if (checkBox.checked == true); {
            document.getElementById(checkbox1).checked = false;
            document.getElementById(checkbox2).checked = false;
            document.getElementById(checkbox3).checked = false;
            document.getElementById(checkbox4).checked = false;
            document.getElementById(checkbox5).checked = false;
            document.getElementById(checkbox6).checked = false;
        }
    }
    function uncheckNone() {
        document.getElementById('None').checked = false;
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });

    // Code adapted from https://stackoverflow.com/questions/6218494/using-the-html5-required-attribute-for-a-group-of-checkboxes
    $(function(){
        var othersRequired = $('.othersInvolved :checkbox[required]');
        othersRequired.change(function(){
            if(othersRequired.is(':checked')) {
                othersRequired.removeAttr('required');
            } else {
                othersRequired.attr('required', 'required');
            }
        });
    });

    $(function(){
        var impactRequired = $('.impact :checkbox[required]');
        impactRequired.change(function(){
            if(impactRequired.is(':checked')) {
                impactRequired.removeAttr('required');
            } else {
                impactRequired.attr('required', 'required');
            }
        });
    });


    $(function(){
        var learningRequired = $('.learningTechnology :checkbox[required]');
        learningRequired.change(function(){
            if(learningRequired.is(':checked')) {
                learningRequired.removeAttr('required');
            } else {
                learningRequired.attr('required', 'required');
            }
        });
    });

    $(function(){
        var thoughtRequired = $('.thoughtCloud :checkbox[required]');
        thoughtRequired.change(function(){
            if(thoughtRequired.is(':checked')) {
                thoughtRequired.removeAttr('required');
            } else {
                thoughtRequired.attr('required', 'required');
            }
        });
    });

</script>

</body>
</html>

