<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Form</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">Reflection Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/rowbo">Home</a>
                </li>
                <li class="nav-item">
                    <a class= "nav-link" href="/reflections/rowbo">Activities<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form">Activity Form</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container h-100">
<div class="container">

    <h1 class="mt-5" th:text="${form.getEventID().getName()}"> </h1>
    <hr>
    <div>
    <a style="float:right" class="btn btn-primary" th:href="@{/reflectionedit/{furl} (furl=${form.getFormID()})}">Edit Form</a>
        <a style="float:right; margin-right:5px" class="btn btn-primary deleteBtn">Delete</a>
        <a class="btn btn-primary" href="/reflections/rowbo">View All</a>
    </div>

    <div style="margin-top: 30px">
        <h2>Activity Details</h2><br>

        <p><label class="labels">Description</label> <br> <span th:text="${form.shortDescription}">Description goes here</span></p>
        <br>
        <p th:switch="${form.getCompletionLevel()}"><label class="labels">Completion Status</label> <br> <span th:case="green">Completed</span><span th:case="amber">Partially Completed</span><span th:case="red">Incomplete</span></p>
        <br>
        <p><label class="labels">Activity Date</label> <br> <span th:text="${form.getDateString()}">23/07/2001</span></p>
        <br>
        <p><label class="labels">Role</label> <br><span th:text="${form.roleID.name}"></span></p>
        <br>
        <label class="labels">UKPSF Dimensions</label>
        <div th:if="${form.getTagsByCategory('UKPSF').isEmpty()}">
            <p>No tags selected</p>
        </div>
        <ul th:each="ukpsf : ${form.getTagsByCategory('UKPSF')}">
            <li th:text = "${ukpsf.tagName}"></li>
        </ul>
        <br>
        <label class="labels">Others Involved</label>
        <div th:if="${form.getTagsByCategory('Others Involved').isEmpty()}">
            <p>No tags selected</p>
        </div>
        <ul th:each="othersInvolved : ${form.getTagsByCategory('Others Involved')}">
            <li th:text = "${othersInvolved.tagName}"></li>
        </ul>
        <br>
        <label class="labels">Impact Tags</label>
        <div th:if="${form.getTagsByCategory('Impact').isEmpty()}">
            <p>No tags selected</p>
        </div>
        <ul th:each="impact : ${form.getTagsByCategory('Impact')}">
            <li th:text = "${impact.tagName}"></li>
        </ul>
        <br>
        <label class="labels">Learning Technology Tags</label>
            <div th:if="${form.getTagsByCategory('Learning Technologies').isEmpty()}">
                <p>No tags selected</p>
            </div>
            <ul th:each="learningtech : ${form.getTagsByCategory('Learning Technologies')}">
                <li th:text = "${learningtech.tagName}"></li>
            </ul>
        <br>
        <label class="labels">Thought Cloud Tags</label>
            <div th:if="${form.getTagsByCategory('Thought Cloud').isEmpty()}">
                <p>No tags selected</p>
            </div>
            <ul th:each="thoughtcloud : ${form.getTagsByCategory('Thought Cloud')}">
                <li th:text = "${thoughtcloud.tagName}"></li>
            </ul>

    </div>
    <hr><br>
    <div>
        <h2>Reflection Answers</h2><br>
        <div>
            <p><label class="labels">What did you do?</label> <br><span th:text="${form.reflectionID.getBox1()}"></span></p>
            <br>
            <p><label class="labels">What prompted your approach?</label> <br><span th:text="${form.reflectionID.getBox2()}"></span></p>
            <br>
            <p><label class="labels">What happened?</label> <br><span th:text="${form.reflectionID.getBox3()}"></span></p>
            <br>
            <p><label class="labels">What impact did the learning technologies have on your activity?</label> <br><span th:text="${form.reflectionID.getBox4()}"></span></p>
            <br>
            <p><label class="labels">Collecting Evidence (How will you evaluate this activity later? What evidence do you need?)</label> <br><span th:text="${form.reflectionID.getBox5()}"></span></p>
            <br>
            <p><label class="labels">Alternate actions or responses (What could you have done differently?)</label> <br><span th:text="${form.reflectionID.getBox6()}"></span></p>
        </div>
    </div>
    <hr><br>
    <div>
        <h2>Action Points</h2><br>
        <ol>
            <li th:text = "${form.reflectionID.getLearningPoint1()}"></li><br>
            <li th:text = "${form.reflectionID.getLearningPoint2()}"></li><br>
            <li th:text = "${form.reflectionID.getLearningPoint3()}"></li>
        </ol>

    </div>
    <br>
    <div>
        <a style="float:right" class="btn btn-primary" th:href="@{/reflectionedit/{furl} (furl=${form.getFormID()})}">Edit Form</a>
        <a style="float:right; margin-right:5px" class="btn btn-primary deleteBtn">Delete</a>
         <a class="btn btn-primary" href="/reflections/rowbo">Go Back</a>

    </div>
    <br><br>



</div>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function(){
        $(".deleteBtn").click(function(e){
            if(!confirm('Delete this form?')) {
                return
            }
            var id = /*[[${form.getFormID()}]]*/ 'default';
            $.ajax({type: "delete",
                url: "/reflectionremove/"+ id,
                success:function(result){
                    window.location = "/reflections/rowbo";
                }
            });
        });
    });

    /*]]>*/
</script>

</body>
</html>