<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logging Form</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">Professional Development
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/rowbo">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reflections/rowbo">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Activity Form<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container-fluid">
    <form action="#" method="post" th:action="@{/form}" th:object="${form}" onsubmit="return confirm('Submit this entry?');">

        <div id="activitydetails" class="container">
            <h1 class="mt-5">Activity Details</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label th:for="eventType" class="labels">
                            Activity Type
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <div style="display: none" th:if="${formID != null}">
                            <select name="formID" id="formID"><option th:value="${formID}" REQUIRED></option></select>
                        </div>

                        <select class="form-control" name="eventType" id="eventType" REQUIRED>
                            <div th:each="events: ${event}">
                                <option th:value="${events.eventID}" th:text="${events.name}" th:selected="${events.eventID == eventEdit?.eventID}" ></option>
                            </div>
                        </select>

                        <span class="help-block">
       Select the applicable activity type from the drop-down list.
      </span>
                    </div>
                    <div class="form-group ">
                        <label th:for="shortDesc" class="labels">
                            Activity Description
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${descEdit?.shortDescription}" maxlength="140" id="shortDesc" name="shortDesc" placeholder="(max 140 characters)" REQUIRED></textarea>
                        <span class="help-block">
       Give a short description of the purpose of the activity you attended.
      </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels" th:for="role">
                            Role
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <select class="form-control" name="role" id="role" REQUIRED>
                            <div th:each="roles: ${role}">
                                <option th:value="${roles.roleID}" th:text="${roles.name}" th:selected="${roles.roleID == roleEdit?.roleID}"></option>
                            </div>
                        </select>

                        <span class="help-block">
       What role did you play during the activity? Choose the applicable option from the drop-down menu.
      </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels" th:for="othersInvolveds">
                            Others Involved
                            <span class="asteriskField">
        *
       </span>
                        </label>
                        <div style="display: flex;" th:each="othersInvolveds: ${othersInvolved}">

                            <div th:if="${tagsEdit != null}">
                                <input  class = "checkbox" type="checkbox" th:id="${othersInvolveds.tagID}" th:checked="${#lists.contains(tagsEdit, othersInvolveds.tagID)}" name="others" th:value="${othersInvolveds.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input  class = "checkbox" type="checkbox" th:id="${othersInvolveds.tagID}"
                                        name="others" th:value="${othersInvolveds.tagID}">
                            </div>
                            <label th:for="${othersInvolveds.tagID}" th:text="${othersInvolveds.tagName}">



                            </label><br>
                        </div>

                        <span class="help-block">
        Who else was in attendance? Choose an option above.
       </span>
                    </div>

                    <div class="form-group">
                        <div>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('activitydetails').style.display='none';document.getElementById('ukpsf').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="ukpsf" class="container">
            <h1 class="mt-5">Map event to Framework (UKPSF)</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="dimension">
                            UKPSF Dimensions
                            <span class="asteriskField">
                    *
                            </span><span class="glyphicon glyphicon-envelope"></span>
                        </label><br>
<!--                            <div class="pairs" th:each="dimension: ${dimensions}">-->
<!--                                <input class ="checkbox" th:field="*{dimensions}" type="checkbox" th:id="${dimension.tagName}" name="dimension" th:value="${dimension.tagID}">-->
<!--                                <label data-toggle="tooltip" data-placement="top" th:attr="data-title=${dimension.description}" th:for="${#ids.next('dimension')}" th:text="${dimension.shortenedTag} + ' - ' + ${dimension.tagName}"></label><br>-->
<!--                            </div>-->
                        <div style="display: flex;" th:each="dimension: ${dimensions}">
                            <div th:if="${tagsEdit != null}">
                                <input class ="checkbox" th:checked="${#lists.contains(tagsEdit, dimension.tagID)}" type="checkbox" th:id="${dimension.tagID}" name="dimensions" th:value="${dimension.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class ="checkbox" type="checkbox" th:id="${dimension.tagID}" name="dimensions" th:value="${dimension.tagID}">
                            </div>
                            <label data-toggle="tooltip" data-placement="top" th:attr="data-title=${dimension.description}" th:for="${dimension.tagID}" th:text="${dimension.shortenedTag} + ' - ' + ${dimension.tagName}"></label><br>
                        </div>

                        <span class="help-block">
                        What are some of your thoughts having completed this activity? Choose as many options as applicable.
                       </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='none';document.getElementById('activitydetails').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='none';document.getElementById('impact').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="impact" class="container">
            <h1 class="mt-5">Tag Selection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="impacts">
                            Impact
                            <span class="asteriskField">
                    *
                   </span>
                        </label><br>
                        <div style="display: flex;" th:each="impacts: ${impact}">
                            <div th:if="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox" th:id="${impacts.tagID}" th:checked="${#lists.contains(tagsEdit, impacts.tagID)}" name="impact" th:value="${impacts.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox" th:id="${impacts.tagID}" name="impact" th:value="${impacts.tagID}">
                            </div>
                            <label th:for="${impacts.tagID}" th:text="${impacts.tagName}"></label><br>
                        </div>

                        <span class="help-block">
                    How would you classify the scale of the impact of this activity? Choose as many options as applicable.
                   </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('ukpsf').style.display='block';document.getElementById('impact').style.display='none';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('impact').style.display='none';document.getElementById('learntechs').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div id="learntechs" class="container">
            <h1 class="mt-5">Tag Selection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="learningTechnology">
                            Learning Technologies
                            <span class="asteriskField">
                    *
                   </span>
                        </label><br>
                        <div style="display: flex;" th:each="learningTechnology: ${learningTechnologies}">
                            <div th:if="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox" th:id="${learningTechnology.tagID}" name="learningTechs" th:checked="${#lists.contains(tagsEdit, learningTechnology.tagID)}" th:value="${learningTechnology.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class = "checkbox" type="checkbox" th:id="${learningTechnology.tagID}" name="learningTechs" th:value="${learningTechnology.tagID}">
                            </div>

                            <label th:for="${learningTechnology.tagID}" th:text="${learningTechnology.tagName}"></label><br>
                        </div>

                        <span class="help-block">
                    Which learning technologies were utilised for this activity? Choose as many options as applicable.
                   </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('impact').style.display='block';document.getElementById('learntechs').style.display='none';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('learntechs').style.display='none';document.getElementById('thoughtcld').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="thoughtcld" class="container">
            <h1 class="mt-5">Tag Selection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels" th:for="thoughtClouds">
                            Thought Cloud
                            <span class="asteriskField">
                    *
                       </span>
                        </label><br>
                        <div class="split3">
                        <div style="display: flex;" th:each="thoughtClouds: ${thoughtCloud}">
                            <div th:if="${tagsEdit != null}">
                                <input class ="checkbox"  type="checkbox" th:checked="${#lists.contains(tagsEdit, thoughtClouds.tagID)}" th:id="${thoughtClouds.tagID}" name="thoughtCloud" th:value="${thoughtClouds.tagID}">
                            </div>
                            <div th:unless="${tagsEdit != null}">
                                <input class ="checkbox"  type="checkbox" th:id="${thoughtClouds.tagID}" name="thoughtCloud" th:value="${thoughtClouds.tagID}">
                            </div>
                            <label th:for="${thoughtClouds.tagID}" th:text="${thoughtClouds.tagName}"></label><br>
                        </div>
                        </div>
                        <span class="help-block">
                        What are some of your thoughts having completed this activity? Choose as many options as applicable.
                       </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('thoughtcld').style.display='none';document.getElementById('learntechs').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('thoughtcld').style.display='none';document.getElementById('reflection').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Validation for NONE needs to be figured out-->

        <div id="reflection" class="container">
            <h1 class="mt-5">Reflection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels">
                            What did you do?
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box1}" maxlength="100" name="box1" id="box1" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Provide a clear record.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What prompted your approach?
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box2}" maxlength="100" name="box2" id="box2" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Consider your past experiences and how they might have been of influence here.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What happened?
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box3}" maxlength="100" name="box3" id="box3" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Consider your own and others' viewpoints and feelings - put yourself in their shoes!
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What impact did the learning technologies have on your activity?
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box4}" maxlength="100" name="box4" id="box4" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Think about how your development might have been affected had you utilised a different technology.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            Collecting Evidence
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box5}" maxlength="100" name="box5" id="box5" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   How will you evaluate this activity later? What evidence do you need?
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            Alternate actions or responses
                            <span class="asteriskField">
                    *
                   </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box6}" maxlength="100" name="box6" id="box6" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   What could you have done differently?
                  </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('thoughtcld').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('learningpoints').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="learningpoints" class="container">
            <h1 class="mt-5">Learning Points For You</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels">
                            Learning Point 1
                            <span class="asteriskField">
                                *
                               </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint1}" maxlength="140" name="learningPoint1" id="learningPoint1" placeholder="(max 140 characters)" REQUIRED></textarea>
                        <span class="help-block">
                               What key takeaways did you gain from this experience? Type them in the text fields.
                  </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels">
                            Learning Point 2
                            <span class="asteriskField">
                                *
                               </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint2}" maxlength="140" name="learningPoint2" id="learningPoint2" placeholder="(max 140 characters)" REQUIRED></textarea>
                    </div>
                    <div class="form-group ">
                        <label class="labels">
                            Learning Point 3
                            <span class="asteriskField">
                                *
                               </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint3}" maxlength="140" name="learningPoint3" id="learningPoint3" placeholder="(max 140 characters)" REQUIRED></textarea>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('learningpoints').style.display='none';document.getElementById('reflection').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="submit" value="Submit" onclick="confirmsubmit()"> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</main>

<br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>


    function uncheck(checkbox1, checkbox2, checkbox3, checkbox4, checkbox5, checkbox6) {
        let checkBox = document.getElementById("None");
        if (checkBox.checked == true); {
            document.getElementById(checkbox1).checked = false;
            document.getElementById(checkbox2).checked = false;
            document.getElementById(checkbox3).checked = false;
            document.getElementById(checkbox4).checked = false;
            document.getElementById(checkbox5).checked = false;
            document.getElementById(checkbox6).checked = false;
        }
    }
    function uncheckNone() {
        document.getElementById('None').checked = false;
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>

