<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logging Form</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">Reflection Toolkit
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/rowbo">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reflections/rowbo">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Activity Form<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand">Menu Bar
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('reflection')">Reflection</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn" data-toggle="collapse" onclick="menuSelect('learningpoints')">Action Points</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container-fluid">
    <form action="#" method="post" th:action="@{/addreflection/} + ${form.FormID}" th:object="${form}" onsubmit="return confirm('Submit this entry?');">
        <div id="reflection" class="container">
            <h1 class="mt-5">Reflection</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels">
                            What did you do?
                            <span class="asteriskField">
                                *
                               </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box1}" maxlength="100" name="box1" id="box1" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Provide a clear record.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What prompted your approach?
                            <span class="asteriskField">
                                *
                               </span>

                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box2}" maxlength="100" name="box2" id="box2" placeholder="(max 100 characters)" REQUIRED ></textarea>
                        <span class="help-block">
                   Consider your past experiences and how they might have been of influence here.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What happened?
                            <span class="asteriskField">
                                *
                               </span>

                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box3}" maxlength="100" name="box3" id="box3" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Consider your own and others' viewpoints and feelings - put yourself in their shoes!
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            What impact did the learning technologies have on your activity?
                            <span class="asteriskField">
                                *
                               </span>

                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box4}" maxlength="100" name="box4" id="box4" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   Think about how your development might have been affected had you utilised a different technology.
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            Collecting Evidence
                            <span class="asteriskField">
                                *
                               </span>

                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box5}" maxlength="100" name="box5" id="box5" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   How will you evaluate this activity later? What evidence do you need?
                  </span>
                    </div>

                    <div class="form-group ">
                        <label class="labels">
                            Alternate actions or responses
                            <span class="asteriskField">
                                *
                               </span>

                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.box6}" maxlength="100" name="box6" id="box6" placeholder="(max 100 characters)" REQUIRED></textarea>
                        <span class="help-block">
                   What could you have done differently?
                  </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('thoughtcld').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="button" onclick="document.getElementById('reflection').style.display='none';document.getElementById('learningpoints').style.display='block';document.documentElement.scrollTop = 0;"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="learningpoints" class="container">
            <h1 class="mt-5">Action Points</h1><br>
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <div class="form-group ">
                        <label class="labels">
                            Action Point 1
                            <span class="asteriskField">
                                *
                               </span>
                        </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint1}" maxlength="140" name="learningPoint1" id="learningPoint1" placeholder="(max 140 characters)" REQUIRED></textarea>
                        <span class="help-block">
                               What key takeaways did you gain from this experience? Type them in the text fields.
                  </span>
                    </div>
                    <div class="form-group ">
                        <label class="labels">
                            Action Point 2
                            </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint2}" maxlength="140" name="learningPoint2" id="learningPoint2" placeholder="(max 140 characters)"></textarea>
                    </div>
                    <div class="form-group ">
                        <label class="labels">
                            Action Point 3
                            </label>
                        <textarea class="form-control" cols="40" rows="5" th:text="${reflectionEdit?.learningPoint3}" maxlength="140" name="learningPoint3" id="learningPoint3" placeholder="(max 140 characters)"></textarea>
                    </div>
                    <div class="form-group">
                        <div>
                            <button style="float: left;" class="btn btn-primary " type="button" onclick="document.getElementById('learningpoints').style.display='none';document.getElementById('reflection').style.display='block';document.documentElement.scrollTop = 0;"> Back </button>
                            <button style="float: right;" class="btn btn-primary " type="submit" value="Submit" onclick="confirmsubmit()"> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </form>
</main>

<br>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<script>

    function menuSelect(element) {
        document.getElementById('reflection').style.display='none';
        document.getElementById('learningpoints').style.display='none';
        document.getElementById(element).style.display='block';
        document.documentElement.scrollTop = 0;
    }



    function uncheck(checkbox1, checkbox2, checkbox3, checkbox4, checkbox5, checkbox6) {
        let checkBox = document.getElementById("None");
        if (checkBox.checked == true); {
            document.getElementById(checkbox1).checked = false;
            document.getElementById(checkbox2).checked = false;
            document.getElementById(checkbox3).checked = false;
            document.getElementById(checkbox4).checked = false;
            document.getElementById(checkbox5).checked = false;
            document.getElementById(checkbox6).checked = false;
        }
    }
    function uncheckNone() {
        document.getElementById('None').checked = false;
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });

</script>

</body>
</html>

