<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.css" th:href="@{/css/reflections.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" integrity="sha384-QzN1ywg2QLsf72ZkgRHgjkB/cfI4Dqjg6RJYQUqH6Wm8qp/MvmEYn+2NBsLnhLkr" crossorigin="anonymous"></script>

    <script src="/js/home.js"></script>

    <script src="https://kit.fontawesome.com/9b9fc493c6.js" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>


</head>

<body>

<header></header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <a sec:authorize="hasRole('USER')" class="navbar-brand topnavbar-brand">Reflection Toolkit</a>
        <a sec:authorize="hasRole('ADMIN')" class="navbar-brand topnavbar-brand">Administrator Panel</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse centered" id="navbarsExample04">
            <ul class="navbar-nav mr-auto topnavbar-nav">
                <li class="nav-item active">
                    <a sec:authorize="hasRole('USER')" class="nav-link disabled darkergrey" href="#" tabindex="-1" aria-disabled="true">
                        <div class="icon">
                            <i class="fa fa-home darkergrey" aria-hidden="true"></i>
                            <i class="fa fa-home" aria-hidden="true"></i>

                        </div>
                        Home
                        <span class="sr-only =">(current)</span>
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link disabled" href="#" tabindex="-1" aria-                           disabled="true">
                        <div class="icon">
                            <i class="fa fa-home darkergrey" aria-hidden="true"></i>
                            <i class="fa fa-home" aria-hidden="true"></i>

                        </div>

                        Dashboard<span class="sr-only =">(current)</span></a>
                    </a>
                </li>
                <li class="nav-item active">
                    <a sec:authorize="hasRole('USER')" class="nav-link" href="/reflection/user">
                        <div class="icon">
                            <i class="fa fa-clipboard-list lightgrey"></i>
                            <i class="fa fa-clipboard-list"></i>
                        </div>


                        Activities</a>
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="#">
                        <div class="icon">
                            <i class="fa fa-clipboard-list lightgrey"></i>
                            <i class="fa fa-clipboard-list"></i>
                        </div>


                        Global Overview</a>

                </li>
                <li class="nav-item active">
                    <a sec:authorize="hasRole('USER')" class="nav-link" href="/form">

                        <div class="icon">
                            <i class="fa fa-file-medical lightgrey"></i>
                            <i class="fa fa-file-medical"></i>
                        </div>

                        Log Activity</a>
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/admin/edit-tags">
                        <div class="icon">
                            <i class="fa fa-file-medical lightgrey"></i>
                            <i class="fa fa-file-medical"></i>
                        </div>


                        Edit Tags</a>
                </li>
                <li class="nav-item active last">
                    <a class="nav-link" href="#" th:href="@{/logout}">
                        <div class="icon">
                            <i class="fa fa-sign-out-alt lightgrey"></i>
                            <i class="fa fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </li>



            </ul>
        </div>
    </nav>
</header>

<main sec:authorize="hasRole('USER')" role="main" class="container h-100">
    <div class = 'row h-auto'>
        <div class="col-auto m-3 p-3  bg-light rounded shadow-sm">
            <strong  class="d-block text-gray-dark" th:text="'Currently Logged in as ' + ${user.name}"></strong>
        </div>
    </div>
    <div class = 'row h-50'>
        <div class="col-md-3 h-auto m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Recent Activities Edited</label>
            <span th:unless="${forms.size() == 0}">
        <div th:each="form : ${forms}">
            <div class="media text-muted pt-3" >
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">

                        <a style="text-decoration: none; color: #343a40; padding-bottom: 0" class="text-gray-dark" th:href="@{/reflection/{furl} (furl=${form.getFormID()})}">
                            <strong  class="text-gray-dark" th:text="${form.getEventID().getName()}"></strong>
                        </a>

                <p th:switch="${form.getCompletionLevel()}">
                    <span th:text="${form.shortDescription}"></span>
                    <br>Event held on <span th:text="${form.getDateString()}">0</span>
                    <br>Last edited: <span th:text="${form.getLastEditedString()}"></span>
                    <br>Completion Status:

                    <span th:case="green">Completed</span>

                    <span th:case="amber">

                        <span th:if="${form.getTagsByCategory('UKPSF').isEmpty()}">
                        Partially Completed - UKPSF Dimensions Required
                            </span>
                        <span th:unless="${form.getTagsByCategory('UKPSF').isEmpty()}">
                        Partially Completed - Reflection Required
                        </span>

                    </span>

                    <span th:case="red">Incomplete - UKPSF Dimensions and Reflection Required</span>
                </p>
                </div>

            </div>
        </div>
        </span>
            <span th:if="${forms.size() == 0}">
                                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">You have not added any forms yet.</strong>
                            </div>
                        </div>
                    </div>
            <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a href="/form">
                        <strong class="text-gray-dark">Add a new form</strong>
                    </a>
                </div>
            </div>
            </div>
            </span>
            <small class="d-block text-right mt-3">
                <a href="/reflection/user">All Activities</a>
            </small>
        </div>
        <div class="col-md-3 h-auto m-3 p-3 bg-light rounded shadow-sm">
        <small class="d-block text-right mt-3">
            <a href="/reflection/user">All Activities</a>
        </small>
    </div>
        <div class="col-md-5 m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Suggested: Dimensions to Evidence</label>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-danger">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"  th:text="${ukpsf.get(0).shortenedTag} + ' - ' + ${ukpsf.get(0).tagName}"></strong>

                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"  th:text="${ukpsf.get(1).shortenedTag} + ' - ' + ${ukpsf.get(1).tagName}"></strong>
                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-danger">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"  th:text="${ukpsf.get(2).shortenedTag} + ' - ' + ${ukpsf.get(2).tagName}"></strong>
                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"  th:text="${ukpsf.get(3).shortenedTag} + ' - ' + ${ukpsf.get(3).tagName}"></strong>
                    </div>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="/form">Activity Form</a>
            </small>
        </div>

        <div>
            <label class= "labels border-bottom border-gray pb-2 mb-0">UKPSF Tags completed</label>
            <div>
                <div calss="class= media-bodies pb-3 mb-0 small lh-125 border-bottom border-danger">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <canvas id="donut" style="width: 300px;height:200px;" >
                        </canvas>
                    </div>
                </div>

                <small class="d-block text-right mt-3">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#graphModal">
                    Enlarge
                </button>

                </small>

                <!-- The Modal -->
                    <div class="modal fade" id="graphModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">UKPSF Tags completed</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <canvas id="bigdonut" >
                                </canvas>
                                <h2 class="labels">
                                    For more info on the dimensions, download <a target="_blank"
                                                                                 href="https://www.heacademy.ac.uk/sites/default/files/downloads/What%20are%20the%20dimensions%20of%20practice.pdf">this PDF.</a></h2>


                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class = 'row h-50'>
    <div class="col-md-6 m-3 p-3 bg-light rounded shadow-sm">
        <label class= "labels border-bottom border-gray pb-2 mb-0">Why not finish these forms?</label>
        <div th:unless="${incompletes.size() == 0}">
        <div th:each="incomplete: ${incompletes}">
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" th:switch="${incomplete.getCompletionLevel()}">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a style="text-decoration: none; color: #343a40; padding-bottom: 0" class="text-gray-dark" th:href="@{/reflection/{furl} (furl=${incomplete.getFormID()})}">
                    <strong class="text-gray-dark" th:text="${incomplete.getEventID().getName()}">Discussion</strong>
                    </a>
                </div>
                <span class="d-block"> Entry last edited: <span th:text="${incomplete.getLastEditedString()}"></span></span>
                <span class="d-block">Completion Status: <span th:case="green">Completed</span>
        <div class="col-md-5 m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Why not finish these forms?</label>
            <div th:unless="${incompletes.size() == 0}">
                <div th:each="incomplete: ${incompletes}">
                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" th:switch="${incomplete.getCompletionLevel()}">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <a style="text-decoration: none; color: #343a40; padding-bottom: 0" class="text-gray-dark" th:href="@{/reflection/{furl} (furl=${incomplete.getFormID()})}">
                                    <strong class="text-gray-dark" th:text="${incomplete.getEventID().getName()}">Discussion</strong>
                                </a>
                            </div>
                            <span class="d-block"> Entry last edited: <span th:text="${incomplete.getLastEditedString()}"></span></span>
                            <span class="d-block">Completion Status: <span th:case="green">Completed</span>
                    <span th:case="amber">

                        <span th:if="${incomplete.getTagsByCategory('UKPSF').isEmpty()}">
                            Partially Completed - UKPSF Dimensions Required
                        </span>

                        <span th:unless="${incomplete.getTagsByCategory('UKPSF').isEmpty()}">
                            Partially Completed - Reflection Required
                        </span>

                    </span>

                    <span th:case="red">Incomplete - UKPSF Dimensions and Reflection Required</span></span>

                        </div>
                    </div>
                </div>
                <small class="d-block text-right mt-3">
                    <a href="#">All Incomplete Entries</a>
                </small>
            </div>
            <div th:if="${incompletes.size() == 0}">
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">Congratulations, all forms are currently up to date with UKPSF dimensions and reflections!</strong>
                        </div>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="/form">
                                <strong class="text-gray-dark">Add a new form</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
            <small class="d-block text-right mt-3">
                <a href="/reflection/user/incomplete">All Incomplete Entries</a>
            </small>
        </div>
        <div th:if="${incompletes.size() == 0}">
                    <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">Congratulations, all forms are currently up to date with UKPSF dimensions and reflections!</strong>
                            </div>
                        </div>
                    </div>
            <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a href="/form">
                        <strong class="text-gray-dark">Add a new form</strong>
                    </a>
                </div>
            </div>
            </div>
        </div>

            <!--        <div class="media text-muted pt-3">-->
            <!--            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
            <!--                <div class="d-flex justify-content-between align-items-center w-100">-->
            <!--                    <strong class="text-gray-dark">Discussion</strong>-->
            <!--                </div>-->
            <!--                <span class="d-block">Entry last updated 2020/11/28. Reflection not yet added.</span>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="media text-muted pt-3">-->
            <!--            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
            <!--                <div class="d-flex justify-content-between align-items-center w-100">-->
            <!--                    <strong class="text-gray-dark">Scholarship</strong>-->
            <!--                </div>-->
            <!--                <span class="d-block">Entry last updated 2020/11/20. Reflection not yet added.</span>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div class="media text-muted pt-3">-->
            <!--            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
            <!--                <div class="d-flex justify-content-between align-items-center w-100">-->
            <!--                    <strong class="text-gray-dark">Evaluation and Quality Assurance</strong>-->
            <!--                </div>-->
            <!--                <span class="d-block">Entry last updated 2020/11/10. UKPSF Tags not yet added.</span>-->
            <!--            </div>-->
            <!--        </div>-->

        </div>
        <div class="col-md-3 h-auto m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Upcoming Activities</label>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-123 border-bottom border-gray">
                    <div>
                        <label class="text-gray-dark" th:for="${actionpoint.actionID}">
                    <input required type=checkbox class="checkbox" th:id="${actionpoint.actionID}" th:value="${actionpoint.actionID}" name="actionpoints">
                            <strong  th:text="${actionpoint.learning_point}"></strong>
                    </label>
                        </div>
                </div>
            </div>
                </span>
                                                    <small class="d-block text-right mt-3">
                <input type="submit" class="btn btn-secondary">
            </small>
                </span>
                <span th:if="${actionpoints.size() == 0}">
                    <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-123 border-bottom border-gray">
                    <strong class="text-gray-dark">Congratulations, you have completed all your action points!</strong>
                </div>
            </div>
                </span>

        </form>
        </div>
    </div>

 </main>














<main sec:authorize="hasRole('ADMIN')" role="main" class="container h-100">
    <div class = 'row h-50'>
        <div class="col-md-5 m-3 p-3  bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Recent Global Activities</label>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">
                    <strong class="d-block text-gray-dark">COMSC Year 2 Industry Seminar 2020/12/03</strong>
                    <a class="clickhere" href="#">6 Attendee(s)</a> among registered users
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">
                    <strong class="d-block text-gray-dark">Communications Workshop 2020/12/02</strong>
                    <a class="clickhere" href="#">67 Attendee(s)</a> among registered users
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-primary">
                    <strong class="d-block text-gray-dark">Meeting with Vice Chancellor 2020/12/01</strong>
                    <a class="clickhere" href="#">12 Attendee(s)</a> among registered users
                </p>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All Recent Activities</a>
            </small>
        </div>
        <div class="col-auto m-3 p-3 flex-fill bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Upcoming Global Activities</label>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-success">
                    <strong class="d-block text-gray-dark">COMSC Year 3 Management Seminar 2020/12/07</strong>
                    <a class="clickhere" href="#">6 Scheduled attendee(s)</a> among registered users
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-success">
                    <strong class="d-block text-gray-dark">Teaching Skills Workshop 2020/12/08</strong>
                    <a class="clickhere" href="#">200 Scheduled attendee(s)</a> among registered users
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-success">
                    <strong class="d-block text-gray-dark">MPhys Quantum Physics Guest Talk 2020/12/09</strong>
                    <a class="clickhere" href="#">8 Scheduled attendee(s)</a> among registered users
                </p>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All Upcoming Activities</a>
            </small>
        </div>
    </div>
    <div class = 'row h-50'>
        <div class="col-md-5 m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Most Commonly Evidenced Dimensions (UKPSF)</label>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(ukpsf.size()-1).shortenedTag} + ' - ' + ${ukpsf.get(ukpsf.size()-1).getTagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(ukpsfcount.size()-1)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(ukpsf.size()-2).shortenedTag} + ' - ' + ${ukpsf.get(ukpsf.size()-2).getTagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(ukpsfcount.size()-2)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(ukpsf.size()-3).shortenedTag} + ' - ' + ${ukpsf.get(ukpsf.size()-3).getTagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(ukpsfcount.size()-3)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 h-auto m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">Least Commonly Evidenced Dimensions (UKPSF)</label>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(0).shortenedTag} + ' - ' + ${ukpsf.get(0).tagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(0)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(1).shortenedTag} + ' - ' + ${ukpsf.get(1).tagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(1)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${ukpsf.get(2).shortenedTag} + ' - ' + ${ukpsf.get(2).tagName}"></strong>
                    </div>
                    <span class="d-block" th:text="${ukpsfcount.get(2)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                </div>
            </div>
        </div>






        <div class = 'row h-50'>
            <div class="col-md-5 m-3 p-3 bg-light rounded shadow-sm">
                <label class= "labels border-bottom border-gray pb-2 mb-0">Most Common Thoughts</label>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(thought.size()-1).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(thoughtcount.size()-1)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(thought.size()-2).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(thoughtcount.size()-2)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(thought.size()-3).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(thoughtcount.size()-3)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 h-auto m-3 p-3 bg-light rounded shadow-sm">
                <label class= "labels border-bottom border-gray pb-2 mb-0">Least Common Thoughts</label>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(0).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(0)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(1).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(1)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark" th:text="${thought.get(2).getTagName()}"></strong>
                        </div>
                        <span class="d-block" th:text="${thoughtcount.get(2)} + ' activities with this tag on record'">432 reflections with this tag on record</span>
                    </div>
                </div>
            </div>
















        <div class="col-auto flex-grow-1 h-auto m-3 p-3 bg-light rounded shadow-sm">
            <label class= "labels border-bottom border-gray pb-2 mb-0">To-Do List</label>

            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <label><input type = checkbox class="text-gray-dark" value=""/>Thing To-Do 1</label>
                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <label><input type = checkbox class="text-gray-dark" value=""/>Thing To-Do 2</label>
                    </div>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <label><input type = checkbox class="text-gray-dark" value=""/>Thing To-Do 3</label>
                    </div>
                </div>
            </div><br>
            <small class="d-block text-right mt-3">
                <a href="#">Edit To-Do List</a>
            </small>
        </div>
    </div>


    <div id="myModal" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">UKPSF Dimensions</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>
    </div>
</main>

</body>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

</html>