<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:list-style-type="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List Of Your Activities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.css" th:href="@{/css/reflections.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <title>List Of Your Reflections</title>

    <script src="https://kit.fontawesome.com/9b9fc493c6.js" crossorigin="anonymous"></script>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <a class="navbar-brand topnavbar-brand">Reflection Toolkit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse centered" id="navbarsExample04">
            <ul class="navbar-nav mr-auto topnavbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" tabindex="-1">
                        <div class="icon">
                            <i class="fa fa-home lightgrey"></i>
                            <i class="fa fa-home"></i>

                        </div>
                        Home

                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled darkergrey" href="#" aria-disabled="true">
                        <div class="icon">
                            <i class="fa fa-clipboard-list darkergrey" aria-hidden="true"></i>
                            <i class="fa fa-clipboard-list" aria-hidden="true"></i>
                        </div>


                        Activities
                        <span class="sr-only =">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/form">

                        <div class="icon">
                            <i class="fa fa-file-medical lightgrey"></i>
                            <i class="fa fa-file-medical"></i>
                        </div>

                        Log Activity

                    </a>
                </li>
                <li class="nav-item active last">
                    <a class="nav-link" href="#" th:href="@{/logout}">
                        <div class="icon">
                            <i class="fa fa-sign-out-alt lightgrey"></i>
                            <i class="fa fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </li>


            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <h2>Activities</h2>
    <button class="btn btn-light btn-lg" id="filterBtn">Filters</button>
    <form id="filters" action="#" method="get" th:action="@{/reflection/user/filters}" th:object="${filters}">


        <button class="btn btn-secondary col-sm drop" id="ukpsf" type="button">UKPSF Dimensions</button>
        <div class="w-100" id="ukpsf-drop">
            <div th:each="tag : ${ukpsf}">
                <li><input type="checkbox" th:field="*{tags}" th:value="${tag.tagID}" th:id="${tag.tagID}">
                    <label th:for="${tag.tagID}">
                        <span th:text="${tag.getShortenedTag()}"></span> - <span th:text="${tag.getTagName()}"></span>
                    </label>
                </li>
            </div>
        </div>

        <button class="btn btn-secondary col-sm drop" id="othersInvolved" type="button">Others Involved</button>
        <div class="w-100" id="othersInvolved-drop">
            <div th:each="tag : ${othersInvolved}">
                <li><input type="checkbox" th:field="*{tags}" th:value="${tag.tagID}" th:id="${tag.tagID}">
                    <label th:for="${tag.tagID}">
                        <span th:text="${tag.getTagName()}"></span>
                    </label>
                </li>
            </div>
        </div>

        <button class="btn btn-secondary col-sm drop" id="impact" type="button">Impact</button>
        <div class="w-100" id="impact-drop">
            <div th:each="tag : ${impact}">
                <li><input type="checkbox" th:field="*{tags}" th:value="${tag.tagID}" th:id="${tag.tagID}">
                    <label th:for="${tag.tagID}">
                        <span th:text="${tag.getTagName()}"></span>
                    </label>
                </li>
            </div>
        </div>

        <button class="btn btn-secondary col-sm drop" id="learningTechnologies" type="button">Learning Technologies
        </button>
        <div class="w-100" id="learningTechnologies-drop">
            <div th:each="tag : ${learningTechnologies}">
                <li><input type="checkbox" th:field="*{tags}" th:value="${tag.tagID}" th:id="${tag.tagID}">
                    <label th:for="${tag.tagID}">
                        <span th:text="${tag.getTagName()}"></span>
                    </label>
                </li>
            </div>
        </div>

        <button class="btn btn-secondary col-sm drop" id="thoughtCloud" type="button">Thought Cloud</button>
        <div class="w-100" id="thoughtCloud-drop">
            <div th:each="tag : ${thoughtCloud}">
                <li><input type="checkbox" th:field="*{tags}" th:value="${tag.tagID}" th:id="${tag.tagID}">
                    <label th:for="${tag.tagID}">
                        <span th:text="${tag.getTagName()}"></span>
                    </label>
                </li>
            </div>
        </div>

        <button class="btn btn-secondary col-sm drop" id="completionStatus" type="button">Completion Status</button>
        <div class="w-100" id="completionStatus-drop">
            <div>
                <li><input type="checkbox" th:field="*{completionStatus}" value="green" id="green"><label for="green">Completed</label>
                </li>
                <li><input type="checkbox" th:field="*{completionStatus}" value="amber" id="amber"><label for="amber">Partially
                    Completed</label></li>
                <li><input type="checkbox" th:field="*{completionStatus}" value="red" id="red"><label for="red">Incomplete</label>
                </li>
            </div>
        </div>

        <button class="btn btn-primary applybtn float-right" type="submit">Apply</button>
    </form>
    <div th:if="${forms.empty}">
        <p>No activities available. <a id="clickhere" href="/form">Add an Activity.</a></p>
    </div>

    <div style="margin-bottom: 16px;" class="card w-100 bg-light rounded shadow-sm" th:each="form : ${forms}">
        <div class="card-body reflection" th:id="${form.getCompletionLevel()}">
            <h5 class="card-title" th:text="${form.getEventID().getName()}">Teaching Or Supervision</h5>
            <div th:switch="${form.getCompletionLevel()}">
                <p class="card-text"><span th:text="${form.shortDescription}">Held an hour-long online seminar for Year 2 students on Presentation Skills</span>

                    <br>Event held on <span th:text="${form.getDateString()}">23-11-2020</span>
                    <br>Last edited: <span th:text="${form.getLastEditedString()}">2020-12-01 18:25:55.996301</span>

                    <br>Completion Status:
                    <label th:case="green" data-toggle="tooltip" data-placement="top"
                           title="UKPSF dimensions and reflection completed">Completed</label>

                <span th:case="amber">
                    <span th:if="${form.getTagsByCategory('UKPSF').isEmpty()}">
                        <label data-toggle="tooltip" data-placement="top" title="UKPSF dimensions required">Partially Completed</label>
                    </span>
                    <span th:unless="${form.getTagsByCategory('UKPSF').isEmpty()}">
                        <label data-toggle="tooltip" data-placement="top" title="Reflection required">Partially Completed</label>
                    </span>
                </span>


                <label th:case="red" data-toggle="tooltip" data-placement="top"
                       title="UKPSF dimensions and reflection required">Incomplete</label>
                </p>
            </div>

            <!--                <span th:case="green" data-toggle="tooltip" data-placement="top" title="penis">Completed</span>-->
            <!--                <span th:case="amber" class="tooltip">Partially Completed</span>-->
            <!--                <span th:case="red" class="tooltip">Incomplete</span></p>-->

            <a th:href="@{/reflection/{furl} (furl=${form.getFormID()})}" class="btn btn-primary">View Activity</a>

        </div>
    </div>
</div>

<!--        Code adapted from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=activate-modals-via-data-attribute-->
<div th:if="${prevForm != null}" id="myModal" class="modal hide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Record Added</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you want to add a reflection?</p>
                <p class="text-secondary"><small>You can always add this later.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" th:href="@{/addreflection/{furl} (furl=${prevForm.getFormID()})}">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('#myModal').modal('show');
        $("#filters").hide();
        $("#ukpsf").show();
        $("#impact").show();
        $("#ukpsf-drop").hide();
        $("#othersInvolved-drop").hide();
        $("#learningTechnologies-drop").hide();
        $("#thoughtCloud-drop").hide();
        $("#impact-drop").hide();
        $("#completionStatus-drop").hide();
        $("#filterBtn").click(function () {
            $("#filters").toggle()
        });
        $("#ukpsf").click(function () {
            $("#ukpsf-drop").toggle()
        });
        $("#othersInvolved").click(function () {
            $("#othersInvolved-drop").toggle()
        });
        $("#learningTechnologies").click(function () {
            $("#learningTechnologies-drop").toggle()
        });
        $("#thoughtCloud").click(function () {
            $("#thoughtCloud-drop").toggle()
        });
        $("#impact").click(function () {
            $("#impact-drop").toggle()
        });
        $("#completionStatus").click(function () {
            $("#completionStatus-drop").toggle()
        });
    });

</script>


</body>
</html>
