<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List Of Your Reflections</title>
</head>
<body>
<h1>Reflections</h1>
<div>
    <h2 th:text="${form1.eventName}">Teaching Or Supervisions</h2>
    <p th:text="${form1.shortDescription}">This is a short description of the reflection selected.</p>
    <p>Event held on: <span th:text="${form1.eventDate}">24/11/2020</span></p>
    <p>Last updated: <span th:text="${form1.lastUpdated}">25/11/2020 14:25</span></p>
</div>

<div>
    <h2>Teaching Or Supervision</h2>
    <p>This is a short description of the reflection selected.</p>
    <p>Event held on: 24/11/2020</p>
    <p>Last updated: 25/11/2020 14:25</p>
</div>

<div>
    <h2>Teaching Or Supervision</h2>
    <p>This is a short description of the reflection selected.</p>
    <p>Event held on: 24/11/2020</p>
    <p>Last updated: 25/11/2020 14:25</p>
</div>

<div>
    <h2>Teaching Or Supervision</h2>
    <p>This is a short description of the reflection selected.</p>
    <p>Event held on: 24/11/2020</p>
    <p>Last updated: 25/11/2020 14:25</p>
</div>

<div>
    <h2>Teaching Or Supervision</h2>
    <p>This is a short description of the reflection selected.</p>
    <p>Event held on: 24/11/2020</p>
    <p>Last updated: 25/11/2020 14:25</p>
</div>
</body>
</html>