<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List Of Your Reflections</title>
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" />

</head>
<body>
<header>
    <ul class="navul">
        <li class="navli"><a href="">Home</a></li>
        <li class="navli"><a href="">Event Manager</a></li>
        <li class="navli"><a href="">Reflections</a></li>
    </ul>
</header>

<div class="container">
<h2>Reflections</h2>
<div th:if="${forms.empty}">
    <p>No forms available</p>
</div>
<div class="reflection" th:href="@{/reflection/{furl} (furl=${form.getReflectionID().getReflectionID()})}" th:each="form : ${forms}">
    <a th:href="@{/reflection/{furl} (furl=${form.getReflectionID().getReflectionID()})}">
        <p class="labels" th:text="${form.getEventID().getName()}">Teaching Or Supervision</p>
        <p th:text="${form.shortDescription}">This is a short description of the reflection selected.</p>
        <p>Event held on <span th:text="${form.getEventID().getDateString()}"></span></p>
        <p>Last edited: <span th:text="${form.lastEdited}"></span></p>
    </a>
</div>
</div>
</body>
</html>